@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #13131c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13131c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.image-rendering-pixelated {
  image-rendering: pixelated;
}
